/* TAGS */
body{
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

/* IDs */
#title{
    font-size: clamp(1.5rem, 4rem, 6rem);

    margin-right: auto;

    color: white;
    font-family: monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#powerbutton {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

/* IDs CHILDREN */

    #powerbutton img{
        aspect-ratio: 1/1;

        min-width: 50px;
        max-width: 100px;
    }

    /* IDs CHILDREN ACTIONS */

        #powerbutton img:active{
            background-color: red;
            border-radius: 50%;
            filter: brightness(1.5);
        }

/* Classes */